/// Font styling shorthand
/// 
/// @param {String} $group
/// @param {String} $variant
/// @param {Map} $properties
/// @param {Map} $font-stack (optional)
///
/// @example
///  @include font(helvetica, bold);
///
/// @requires {function} font-properties
@mixin font($group, $variant: regular, $properties: family weight style, $font-stack: $base-font-stack){
  $font-properties: map-deep-get($font-stack, $group, $variant);
  
  @if $font-properties {
    // @include track-fonts($group, $variant);
    @each $key, $value in $font-properties {
      @if contains($properties, $key) {
        #{$key}: $value;
      }
    }
  }
}
