* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  overflow-x: clip;
  scroll-snap-type: y mandatory;
}

body {
  background-color: $color-background-primary;
  color: $color-text-primary;
}
