@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital@1&family=Inter:wght@500&display=swap');

h1 {
  @include font(body, large);
  margin: 0;
}

h2 {
  @include font(title, large);
  margin: 0;
}

h3 {
  margin: 0;
  @include font(title, large-accent);
}

p {
  @include font(body, large);
  margin: 0;

  &.accent {
    @include font(accent, medium);
  }
}

a {
  text-decoration: none;
  color: $color-text-primary;
  position: relative;

  &.accent {
    color: $color-text-accent!important;
    &::before {
      background-color: $color-text-accent;
    }
  }

  &.inverse {
    color: $color-text-inverse!important;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $color-text-primary;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }

  &:hover {
    &::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}

a.large {
  @include font(body, large);
  color: $color-text-primary;
}

.small-accent {
  @include font(accent, small);
}

.button {
  @include font(body, medium);
  color: $color-text-primary;
  cursor: pointer;
  position: relative;

  span {
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 2px;
      background-color: $color-text-primary;
      transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
    }
  }

  
  &:hover {
    span::before{
      left: 0;
      right: auto;
      width: 100%;
    }
  }
}
