/* eslint-disable max-len */
<template>
  <div class="area">
    <section class="home">
      <div class="container">
        <div class="home__intro">
          <h1>Cotton</h1>
          <p class="home__about small-accent">
            Gently designed icons for you to create great design. Free forever.
          </p>
          <p class="home__support small-accent">
            Support this project with
            <a
              :href="urls.external.coffee"
              target="_blank"
              class="accent"
              title="Support this project"
            >
              coffee
            </a> or&nbsp;your
            <a
              :href="urls.external.feedback"
              target="_blank"
              class="accent"
              title="Give feedback"
            >
              feedback</a>.
          </p>
        </div>
        <div class="home__icons">
          <img alt="Template grid" class="icon" src="../assets/images/bookmark.svg">
          <img alt="Template grid" class="icon" src="../assets/images/shopping-bag.svg">
          <img alt="Template grid" class="icon" src="../assets/images/qrcode.svg">
          <div class="icon-container">
            <svg class="icon-animation" ref="warp-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 382.31 514.04"><defs></defs><path class="cls-1" d="M334,371.41c-22.61,0-39.58,14.61-44.8,23-5.23-8.41-22.2-23-44.81-23s-54.5,17.52-54.5,55c0,42.06,53.9,81.41,99.31,119.44,45.4-38,99.3-77.38,99.3-119.44C388.46,388.93,356.57,371.41,334,371.41Z" transform="translate(-79.97 -145.12)"/><circle class="cls-1" cx="209.18" cy="249.1" r="2.38"/><circle class="cls-1" cx="209.18" cy="400.76" r="2.38"/><circle class="cls-1" cx="163.91" cy="226.29" r="2.38"/><circle class="cls-1" cx="253.97" cy="226.29" r="2.38"/><circle class="cls-1" cx="308.49" cy="281.94" r="2.38"/><circle class="cls-1" cx="109.88" cy="281.94" r="2.38"/><line class="cls-1" x1="271.76" y1="146.57" x2="209.18" y2="249.31"/><line class="cls-1" x1="209.18" y1="249.31" x2="135.9" y2="106.91"/><line class="cls-1" x1="253.99" y1="226.29" x2="57.8" y2="76.55"/><line class="cls-1" x1="354.7" y1="189.28" x2="253.99" y2="226.29"/><line class="cls-1" x1="163.91" y1="226.29" x2="364.52" y2="3.95"/><line class="cls-1" x1="109.88" y1="281.94" x2="57.8" y2="203.36"/><line class="cls-1" x1="299.5" y1="143.82" x2="308.49" y2="281.94"/><line class="cls-1" x1="378.36" y1="352.11" x2="308.49" y2="281.94"/><line class="cls-1" x1="253.97" y1="475.4" x2="209.18" y2="400.76"/><line class="cls-1" x1="349.36" y1="510.1" x2="209.18" y2="400.76"/><rect class="cls-2" x="211.18" y="245.75" width="5.61" height="5.61" transform="matrix(0.96, 0.28, -0.28, 0.96, -0.81, -195.55)"/><rect class="cls-2" x="350.2" y="286.81" width="5.61" height="5.61" transform="translate(-135.62 -59.19) rotate(-12.87)"/><rect class="cls-2" x="376.67" y="286.14" width="5.61" height="5.61" transform="translate(-165.98 247.8) rotate(-49.88)"/><rect class="cls-2" x="431.87" y="331.6" width="5.61" height="5.61" transform="translate(-181.12 306.18) rotate(-49.88)"/><rect class="cls-2" x="441.69" y="146.27" width="5.61" height="5.61" transform="translate(-35.9 247.78) rotate(-49.88)"/><rect class="cls-2" x="455.53" y="494.43" width="5.61" height="5.61" transform="translate(-297.22 382.17) rotate(-49.88)"/><rect class="cls-2" x="426.53" y="652.42" width="5.61" height="5.61" transform="translate(-428.34 416.17) rotate(-49.88)"/><rect class="cls-2" x="331.14" y="617.72" width="5.61" height="5.61" transform="translate(-435.72 330.89) rotate(-49.88)"/><rect class="cls-2" x="81.12" y="446.24" width="5.61" height="5.61" transform="translate(-393.51 78.73) rotate(-49.88)"/><rect class="cls-2" x="134.97" y="345.68" width="5.61" height="5.61" transform="translate(-297.46 84.15) rotate(-49.88)"/><rect class="cls-2" x="134.97" y="218.87" width="5.61" height="5.61" transform="translate(-115.54 -118.58) rotate(-9.75)"/><line class="cls-1" x1="3.95" y1="303.92" x2="109.88" y2="281.94"/></svg>
            <img alt="Template grid" class="icon" src="../assets/images/heart.svg">
          </div>
          <img alt="Template grid" class="icon" src="../assets/images/location.svg">
        </div>
        <div class="home__links">
          <a
            :href="urls.external.figma"
            target="_blank"
            class="large"
            title="View on Figma Community"
          >
              Figma Community
          </a>
        </div>
      </div>
    </section>
    <hr class="section-spacer"/>
    <section class="principles">
      <div class="container">
        <div class="column--left">
          <h2>Cotton design <br>principles</h2>
        </div>
        <div class="column--right">
          <p class="lead">Cotton icons are perfect for use in web and mobile.
          Support for SVG, your favourite design tool and webfont. Completely free
          and open source.</p>
          <div class="features">
            <div class="features__block">
              <div class="features__image">
                <img alt="Template grid" src="../assets/images/template.svg">
              </div>
              <p class="small-accent">
                Gently designed icons for you to create great design. Free forever.
              </p>
            </div>
            <div class="features__block">
              <div class="features__image">
                <img alt="Template grid" src="../assets/images/pixel-grid.svg">
              </div>
              <p class="small-accent">
                Gently designed icons for you to create great design. Free forever.
              </p>
            </div>
            <div class="features__block">
              <div class="features__image">
                <img alt="Template grid" src="../assets/images/pixel-grid.svg">
              </div>
              <p class="small-accent">
                Gently designed icons for you to create great design. Free forever.
              </p>
            </div>
          </div>
          <div class="story">
            <div class="story__shader"></div>
            <div class="story__content">
              <div class="story__image">
                <img alt="Cotton"
                  class="story__cotton-image"
                  src="../assets/images/cotton-circle.png"
                  srcset="../assets/images/cotton-circle@2x.png"
                >
                <img alt="Cotton" class="story__text-path"
                  src="../assets/images/circle-text.svg"
                >
              </div>
              <p class="accent">
                The icon family is&nbsp;inspired by&nbsp;the aesthetic
                of&nbsp;cotton and combines a&nbsp;delicate outline with sharp, angular shapes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="area__links">
      <a
        :href="urls.local.download"
        class="large accent"
      >
        Download
      </a>
      <a
        :href="urls.external.github"
        class="large"
        target="_blank"
      >
        View on GitHub
      </a>
    </div>
  </div>
  <hr class="section-spacer"/>
  <section class="showcase">
    <icon-showcase
      @get-code-complete="openCodeSuccessModal"
      @get-zip-complete="openZipSuccessModal"
    ></icon-showcase>
  </section>
  <hr class="section-spacer"/>
  <section class="credits">
    <div class="container">
      <h2>
        Hello, I'm Nikita Sushkov, the author of Cotton icons.
        This project is made to inspire the community, not for sale. You can support me with
        a&nbsp;<a :href="urls.external.coffee" class="accent" target="_blank">coffee</a> or
        <a
          :href="urls.external.feedback"
          target="_blank"
          class="accent"
        >feedback</a>. It really helps a lot.
      </h2>
      <div class="credits__block">
        <div class="credits__avatars">
          <img
            class="credits__avatar"
            alt="Nikita Sushkov"
            src="../assets/images/avatar/nikita-sushkov.png"
            srcset="../assets/images/avatar/nikita-sushkov@2x.png"
          >
        </div>
        <p class="small-accent credits__mention">
          Nikita Sushkov.
          <br>
          Follow me on <a href="#" class="accent">Instagram</a>.
        </p>
      </div>
      <div class="credits__block">
        <div class="credits__avatars">
          <img
            class="credits__avatar"
            alt="Nikita Sushkov"
            src="../assets/images/avatar/lera-arkhipova.png"
            srcset="../assets/images/avatar/lera-arkhipova@2x.png"
          >
          <img
            class="credits__avatar"
            alt="Nikita Sushkov"
            src="../assets/images/avatar/stas-neprokin.png"
            srcset="../assets/images/avatar/stas-neprokin@2x.png"
          >
          <img
            class="credits__avatar"
            alt="Nikita Sushkov"
            src="../assets/images/avatar/ilya-colganov.png"
            srcset="../assets/images/avatar/ilya-colganov@2x.png"
          >
        </div>
        <p class="small-accent credits__mention">
          Many thanks to&nbsp;Lera Arkhipova, Stanislav Neprokin
          and&nbsp;Ilya Kolganov for&nbsp;your support.
        </p>
      </div>
    </div>
  </section>

  <Modal
    v-model="isShow"
    :close="closeModal"
    @before-enter="beforeEnter"
    @after-enter="afterEnter"
    @before-leave="beforeLeave"
    @after-leave="afterLeave"
  >
    <div class="modal">
      <h2>You are awesome</h2>
      <p class="message">{{ msg }}</p>
      <div class="buttons">
        <a class="button large" @click="closeModal" @keydown="closeModal">
          Maybe later
        </a>
        <a
          :href="urls.external.coffee"
          target="_blank"
          class="button large inverse">
          Support this project
        </a>
      </div>
    </div>
  </Modal>
</template>

<script>
import { ref } from 'vue';
import Warp from 'warpjs';
import { mapState } from 'vuex';
import IconShowcase from '@/components/IconShowcase.vue';

export default {
  name: 'HelloWorld',

  data() {
    return {
      isShow: ref(false),
      msg: '',
    };
  },

  computed: {
    ...mapState({
      urls: (state) => state.urls,
    }),
  },

  methods: {
    showModal() {
      this.isShow = true;
    },

    closeModal() {
      this.isShow = false;
    },

    beforeEnter() {
      console.log('before enter');
    },

    afterEnter() {
      console.log('after enter');
    },

    beforeLeave() {
      console.log('before leave');
    },

    afterLeave() {
      console.log('after leave');
    },

    openCodeSuccessModal() {
      this.msg = 'SVG code has been copied to clipboard. Thank you for choosing Cotton icons. You can also support this project with coffee if you like.';
      this.showModal();
    },

    openZipSuccessModal() {
      this.msg = 'Thank you for choosing Cotton icons. You can also support this project with coffee if you like.';
      this.showModal();
    },
  },

  components: {
    IconShowcase,
  },

  mounted() {
    const svg = this.$refs['warp-svg'];
    const warp = new Warp(svg);
    warp.interpolate(4);
    warp.transform(([x, y]) => [x, y + 4 * Math.sin(x / 16)]);
    let offset = 0;
    window.setInterval(() => {
      // warp.transform(([x,, oy]) => [x, oy + 4 * Math.sin(x / 16 + offset), oy]);
      warp.transform(([x, y]) => [x, y + 1 * Math.sin(x / 128 + offset)]);
      offset += 0.01;
    }, 24);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import '~@/assets/scss/core/core.scss';

.area {
  position: relative;

  &__links {
    position: sticky;
    bottom: 40px;
    margin-left: 40px;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 32px;
  }
}

section {
  min-height: 100vh;
  margin-bottom: 0;
}

.section-spacer {
  height: 160px;
  border-width: 0px;
  padding: 0;
}

.container {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-height: 100vh;

  .column--left {
    grid-column: span 8;

    h2 {
      position: sticky;
      top: 40px;
    }
  }
}

.home {
  scroll-snap-align: start;
  .container {
    grid-template-rows: auto 1fr auto;
  }

  &__intro {
    grid-column: span 16;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

    h1 {
      grid-column: span 16;
      margin-bottom: 24px;
    }
  }

  &__about {
    grid-column: span 3;
  }

  &__support {
    grid-column: 9 / 12;
  }

  &__icons {
    grid-column: span 16;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .icon-container {
      position: relative;
      display: flex;
      align-items: center;
    }

    .icon {
      width: 11vw;
    }

    .icon-animation {
      position: fixed;
      top: 0;
      // width: 100vh;
      display: none;
      height: 100vh;
      left: 50%;
      z-index: -1;
      fill: transparent;
      stroke-width: 1px;
      stroke: $color-text-accent;
      transform: skew(-30deg);
    }
  }

  &__links {
    grid-column: span 16;
    display: flex;
    justify-content: flex-end;
  }
}

.column--right {
  grid-column: span 8;
  display: grid;
  grid-template-columns: repeat(8, 1fr);

  p.lead {
    grid-column: 1 / 9;
    margin-bottom: 64px;
    position: sticky;
    top: 40px;
    z-index: 2;
  }
}

.principles {
  scroll-snap-align: start;
}

.features {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 8;
  padding-top: 40vh;

  &__block {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 32px;

    p {
      grid-column: span 3;
    }

    &:nth-of-type(2n) {
      margin-left: 50%;
    }
  }

  &__image {
    grid-column: span 2;
    margin-bottom: 24px;

    img {
      width: 100%;
      padding: 0;
      margin: 0;
      display: block;
    }
  }
}

.story {
  grid-column: span 8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 50vh 0;
  margin-right: -40px;
  margin-bottom: 30vh;
  background-image: radial-gradient(
    100% 100% at 44.5% 100%, $color-background-accent 0%, rgba($color-background-accent, 0) 100%
  );
  background-size: 50% 100vh;
  background-attachment: fixed;

  &__shader {
    width: 100%;
    height: 90vh;
    background: linear-gradient(
      180deg, $color-background-primary 30%, rgba($color-background-primary, 0) 100%
    );
  }

  &__content {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      text-align: center;
    }
  }

  &__image {
    width: 50%;
    position: relative;
    margin-bottom: 20%;
  }

  &__cotton-image {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }

  &__text-path {
    position: absolute;
    top: -15%;
    left: -15%;
    width: 130% !important;
    height: 130%;
  }
}

.showcase {
  scroll-snap-align: start;
}

.credits {
  scroll-snap-align: start;
  h2 {
    grid-column: span 16;
    height: 100%;
  }

  &__block {
    grid-column: span 8;
  }

  &__avatars {
    display: flex;
    gap: 12px;
    margin-bottom: 16px;
  }

  &__avatar {
    width: 80px;
    height: 80px;
    display: block;
  }

  &__mention {
    max-width: 350px;
  }
}

.modal {
  width: 60vw;
  padding: 48px;
  box-sizing: border-box;
  background-color: $color-background-accent;
  font-size: 20px;
  text-align: left;

  h2 {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 64px;
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 24px;
  }

  >* {
    outline: none;
  }
}
</style>
