<template>
  <section>
    <div class="container">
      <nav class="categories">
        <ul class="categories__list">
          <li>
            <input v-model="searchQuery" class="search" placeholder="Search icons"/>
          </li>
          <li v-for="(category, index) in icons" :key="category">
            <template v-if="this.searchQuery !== ''">
              <a
                :href="'#' + index"
                v-smooth-scroll
                v-bind:class="{ 'blur': !(index in searchResultsCategories)}"
              >{{ category.name }}</a>
              <transition name="fade">
                <span v-if="index in searchResultsCategories" class="categories__search-counter counter small-accent">
                  {{ searchResultsCategories[index] }}
                </span>
              </transition>
            </template>
            <template v-else>
              <a :href="'#' + index" v-smooth-scroll>{{ category.name }}</a>
            </template>
          </li>
        </ul>
      </nav>

      <div class="grid">
        <template v-for="(category, index) in icons" :key="category">
          <div class="grid__category" :id="index" :ref="index">
            <div class="content">
              <h3>{{ category.name }}</h3>
            </div>
          </div>
          <div class="grid__container">
            <div class="grid__cell"
              v-for="icon in category.icons"
              :key="icon"
              @click="toggleSelect(index, icon)"
              @keydown="toggleSelect(index, icon)"
              v-bind:class="{
                'active': iconIsSelected(index, icon),
                'blur': !isInSearchResults(index, icon)
              }"
            >
              <div class="content" :ref="`${index}-${icon}`">
                <img
                  v-svg-inline :src="require(`@/assets/icons/${index}/${icon}.svg`)" :alt="icon"
                >
              </div>
            </div>
          </div>
        </template>
      </div>

      <div class="sidebar" v-bind:class="{ active : iconsSelectedCount > 0}">
        <div class="sidebar__content">
          <div class="sidebar__content-block">
            <p class="small-accent content">Cotton icons are perfect for use in web and mobile.
              Support for SVG, your favourite design tool and webfont.
              Completely free and open sourc
            </p>
          </div>
          <div class="sidebar__content-block">
            <p class="small-accent content">Cotton icons are perfect for use in web and mobile.
              Support for SVG, your favourite design tool and webfont.
              Completely free and open sourc
            </p>
          </div>
          <div class="sidebar__content-block">
            <p class="small-accent content">Cotton icons are perfect for use in web and mobile.
              Support for SVG, your favourite design tool and webfont.
              Completely free and open sourc
            </p>
          </div>
          <div class="sidebar__buttons">
            <div class="">
              <TransitionGroup name="iconlist" tag="div" class="sidebar__selected-icons">
                <img
                  v-for="icon in selected.slice(0,3)" :key="`${icon.category}_${icon.icon}`"
                  :src="require(`@/assets/icons/${icon.category}/${icon.icon}.svg`)"
                  :alt="icon"
                >
                <template v-if="iconsSelectedCount > 3">
                  <div class="counter small-accent">
                    +{{ iconsSelectedCount -3 }}
                  </div>
                </template>
              </TransitionGroup>
            </div>
            <span
              class="button"
              @click="onClickDownloadZip"
              @keydown="onClickDownloadZip"
            >
              <span>Download SVG</span>
            </span>
            <span
              class="button"
              @click="onClickGetSvgCode"
              @keydown="onClickGetSvgCode"
            >
              <span>Copy code</span>
            </span>
          </div>
        </div>
      </div>

    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex';
import JSZip from 'jszip';
import { saveAs } from 'file-saver';

export default {
  data() {
    return {
      selected: [],
      searchQuery: '',
      searchResultsIcons: [],
      searchResultsCategories: {},
    };
  },

  computed: {
    ...mapState({
      icons: (state) => state.icons.categories,
    }),

    iconsSelectedCount() {
      return this.selected.length;
    },
  },

  watch: {
    // whenever question changes, this function will run
    searchQuery(newQuery) {
      if (newQuery === '') {
        this.searchResultsIcons = [];
        return false;
      }
      this.searchIcons(newQuery);
      // console.log(this.searchResultsCategories);
      if (Object.keys(this.searchResultsCategories).length === 1) {
        const category = Object.keys(this.searchResultsCategories)[0];
        window.history.pushState(
          '',
          document.title,
          window.location.pathname + window.location.search,
        );
        this.$smoothScroll({
          scrollTo: document.getElementById(category),
          hash: `#${category}`,
          updateHistory: false,
        });
      }
      return true;
    },
  },

  methods: {
    isInSearchResults(category, icon) {
      return (this.searchResultsIcons.length !== 0)
        ? this.searchResultsIcons.includes(`${category}-${icon}`)
        : true;
    },

    searchIcons(query) {
      const resultsIcons = [];
      const resultsCategories = {};
      Object.keys(this.icons).forEach((key) => {
        let icons = [];
        this.icons[key].icons.forEach((icon) => {
          if (icon.includes(query)) {
            icons.push(`${key}-${icon}`);
          }
        });
        if (icons.length !== 0) {
          resultsCategories[key] = icons.length;
          resultsIcons.push(...icons);
          icons = [];
        }
      });
      this.searchResultsIcons = resultsIcons;
      this.searchResultsCategories = resultsCategories;
    },

    toggleSelect(category, icon) {
      if (!this.iconIsSelected(category, icon)) {
        this.selectIcon(category, icon);
      } else {
        this.deselectIcon(category, icon);
      }
      return true;
    },

    getIconIndex(category, icon) {
      return Object.keys(this.selected).find(
        (key) => this.selected[key].category === category && this.selected[key].icon === icon,
      );
    },

    onClickDownloadZip() {
      const zip = new JSZip();
      this.selected.forEach((item) => {
        const folder = zip.folder(item.category);
        const iconElement = this.$refs[`${item.category}-${item.icon}`];
        folder.file(`${item.icon}.svg`, iconElement[0].childNodes[0].outerHTML);
      });
      zip.generateAsync({ type: 'blob' }).then((content) => {
        saveAs(content, 'cottonicons.zip');
        this.$emit('getZipComplete');
        this.selected = [];
      });
    },

    iconIsSelected(category, icon) {
      const index = this.getIconIndex(category, icon);
      return index !== undefined;
    },

    deselectIcon(category, icon) {
      const index = this.getIconIndex(category, icon);
      this.selected.splice(index, 1);
      return index;
    },

    selectIcon(category, icon) {
      if (!this.iconIsSelected(category, icon)) {
        this.selected.push({
          category,
          icon,
        });
      }
    },

    onClickGetSvgCode() {
      let content = '';
      this.selected.forEach((item) => {
        const iconElement = this.$refs[`${item.category}-${item.icon}`];
        content += `/* ${item.category}/${item.icon} */
${iconElement[0].childNodes[0].outerHTML}
`;
      });
      navigator.clipboard.writeText(content).then(() => {
        console.log('Async: Copying to clipboard was successful!');
        this.$emit('getCodeComplete');
        this.selected = [];
      }, (err) => {
        console.error('Async: Could not copy text: ', err);
      });
    },
  },
};
</script>

<style lang="scss">
@use "sass:map";
@import '~@/assets/scss/core/core.scss';

.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  .categories {
    grid-column: span 3;
  }

  .grid {
    grid-column: span 10;
  }

  .sidebar {
    grid-column: span 3;
  }
}

.categories {
  &__list {
    @include font(body, medium);
    list-style-type: none;
    position: sticky;
    top: 40px;

    li {
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      gap: 12px;

      .counter {
        line-height: 10px;
      }
      a {
        transition: opacity .3s ease-in-out;
      }
      a.blur {
        opacity: .2;
      }
    }
  }

  .search {
    border: none;
    // border-bottom: 2px solid #000000;
    background: transparent;
    padding: 8px 0;
    outline: none;
  }
}

.grid {

  svg {
    outline: none;
  }

  &__category {
    flex-basis: calc(100%);
    border-bottom: 1px solid $color-elements-divider;
    padding: 24px 0 24px 4px;
    margin-top: 40px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &__container {
    border: 1px solid $color-elements-divider;
    border-width: 0 0 0 1px;
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    position: relative;
    flex-basis: calc(100% / 7);
    border: 1px solid $color-elements-divider;
    border-width: 0 1px 1px 0;
    box-sizing: border-box;
    cursor: pointer;

    &::before {
      content: 'selected';
      display: block;
      padding:
        calc(87% - map-get(map.get(map.get($base-font-stack, 'accent'), 'x-small'), 'line-height'))
        0
        calc(13%)
        0;
      user-select: none;
      opacity: 1;
      text-align: center;
      @include font(accent, x-small);
      color: $color-text-inverse;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 240%;
      height: 240%;
      background: radial-gradient(
        50% 50% at 50% 50%,
        rgba($color-background-accent, 0.72) 0%,
        rgba($color-background-accent, 0.24) 59.38%,
        rgba($color-background-accent, 0) 100%
      );
      top: -70%;
      left: -70%;
      transform: scale(0);
    }

    &.active {
      svg {
        filter: brightness(0) invert(1);
      }
    }

    .content {
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.sidebar {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background-color: $color-background-accent;
    transition: 300ms ease-in-out;
    transition-property: width;
  }

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__content-block {
    height: 100%;
    padding: 40px 40px 0 24px;
    border: 1px;

    .content {
      position: sticky;
      top: 40px;
    }
  }

  &__selected-icons {
    display: grid;
    grid-template-columns: 24px 24px 24px 24px;
    column-gap: 12px;
    grid-template-rows: 24px;
    margin-bottom: 16px;

    img {
      filter: brightness(0.8);
    }

    .counter {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -4px;
    }
  }

  &__buttons {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
      0deg,
      $color-background-accent 55%,
      rgba($color-background-accent, 0) 100%
    );
    background-repeat: no-repeat;
    background-position-x: 200%;
    background-size: 0% 100%;
    padding: 140px 0 24px 24px;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 8px;
    }
  }

  &.active {
    &:before {
      width: 100%;
    }
  }
}

// Animations
.grid {
  &__cell {
    svg {
      transition: all 200ms ease-in-out;
    }
    img {
      transition: opacity 300ms ease-in-out, transform 200ms ease;
    }
    &::before, &:after {
      opacity: 0;
      transition: opacity 300ms ease-in-out, transform 200ms ease;
    }

    &.active {
      &::before {
        opacity: 1;
      }
      &::after {
        opacity: 1;
        transform: scale(1);
      }
    }

    &.blur {
      svg {
        opacity: .2;
      }
    }
  }
}

.sidebar__buttons {
  transition: all 300ms ease-in-out;
  pointer-events: none;
  .button {
    span {
      display: inline;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 310ms ease-in-out, opacity 0.3s ease 0.2s;
    }
  }
}

.sidebar.active {
  .sidebar__buttons {
    pointer-events: all;
    background-position-x: 100%;
    background-size: 100% 100%;
  }
  .button {
    span {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}

.iconlist-move, /* apply transition to moving elements */
.iconlist-enter-active,
.iconlist-leave-active {
  transition: all 0.2s ease-in-out;

  &:first-child {
    transition-delay: 200ms;

    &.iconlist-leave-to {
      transition-delay: 0ms;
    }
  }
}

.iconlist-enter-from,
.iconlist-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.iconlist-leave-to {
  opacity: 0;
  transform: translateX(100px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.iconlist-leave-active {
  position: absolute;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

</style>
