@import './fonts';
@import './utils/map.mixin';
@import './utils/font.mixin';

// Text colors
$color-text-primary: #3C3A38;
$color-text-accent: #ED5038;
$color-text-inverse: #ffffff;

// Elements colors
$color-elements-divider: rgba(#3C3A38, .07);

// Background colors
$color-background-primary: #F2F0ED;
$color-background-accent: #ED5038;
