$base-font-stack: (
  title: (
    large: (
      font-family: ('Inter', sans-serif),
      font-weight: 500,
      font-style: normal,
      letter-spacing: -0.8px,
      font-size: 3.8vw,
      line-height: 108%,
    ),
    large-accent: (
      font-family: 'Cormorant',
      font-style: italic,
      font-size: 3.33vw,
      font-weight: 400,
      line-height: 100%,
      letter-spacing: -0.48px,
    ),
  ),

  body: (
    large: (
      font-family: 'Inter',
      font-style: normal,
      font-weight: 500,
      font-size: 2vw,
      line-height: 114%,
      letter-spacing: -0.48px,
    ),

    medium: (
      font-family: 'Inter',
      font-style: normal,
      font-weight: 500,
      font-size: 20px,
      line-height: 114%,
      letter-spacing: -0.48px,
    )
  ),

  accent: (
    medium: (
      font-family: 'Cormorant',
      font-style: italic,
      font-weight: 400,
      font-size: 1.85vw,
      line-height: 122%,
      letter-spacing: -0.32px,
    ),
    small: (
      font-family: 'Cormorant',
      font-style: italic,
      font-weight: 400,
      font-size: 20px,
      line-height: 122%,
      letter-spacing: -0.25px,
    ),
    x-small: (
      font-family: 'Cormorant',
      font-style: italic,
      font-weight: 400,
      font-size: 1.15vw,
      line-height: 1.15vw,
      letter-spacing: -0.25px,
    ),
  ),
);
